@page "/cidades/formulario"
<h4>Formulário de Cidades</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group mb-12">
                    <label>Cep</label>
                    <input type="text" name="cep" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12">
                    <label>Cidade</label>
                    <input type="text" name="nome" class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-group mb-12">
                    <label>Uf</label>
                    <input type="text" name="uf" class="form-control">
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" onclick="window.location.href='/cidades'">Cancelar</button>
                <button class="btn btn-success" onclick="salvar();">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/cidades-formulario.js"></script>
}
