@page "/cidades"
<div class="row">
    <div class="col-md-10 col-sm-12">
        <div class="form-group mb-12">
            <label>Filtro de Busca</label>
            <input type="text" name="busca" id="busca" class="form-control">
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <button class="btn btn-info" onclick="window.location.href = '/cidades/formulario'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Adicionar
        </button>
    </div>
</div>
<h4>Lista de Cidades</h4>

<div class="table-responsive" id="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cep</th>
                <th>Cidade</th>
                <th>UF</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/cidades.js"></script>
}
